apiVersion: v1
kind: Secret
metadata:
  name: tasky-secrets
  namespace: default
type: Opaque
stringData:
  MONGODB_URI: "mongodb://<user>:<password>@<mongo-host>:27017/go-mongodb?authSource=appdb"
  SECRET_KEY: "<your-secret-key>"